BACKUP/
OTHER_WORKS/

COARAMAUSE_INTEGRATED/COARAMAUSE_INTEGRATED/build/

COARAMAUSE_LCD/build/
COARAMAUSE_LCD_SOUND/build/
COARAMAUSE_LCD_SOUND/RESOURCE_SDCARD/
COARAMAUSE_LCD_SOUND/RESOURCES/
COARAMAUSE_WIFI/build/
COARAMAUSE_WIFI_CLIENTS/build/

